#APP {
  display: flex;
  color:#333;
  /*flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;*/
  margin: 0 auto;
}

.container {
    max-width: 1140px;
}

.element {
  width:100%;
}

.navbar{
    width:100%;
    padding: 15px;
    display: flex;
    background-color: bisque;
}
.navbar img {
  width: 125px;
}



.card {
    padding:15px;
    margin-bottom: 25px;
}

.client-item {
    /**/
}
